@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 237, 122, 86;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background-color: #949494; 
  
 /* background-color: rgb(var(--background-start-rgb)); */
}

/* Estilos de la tarjeta */
.card {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 22%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: rgb(255, 255, 255);
  
}

/* Estilos del texto de bienvenida */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color : #ED7A56;
}

/* Estilos del botón de inicio de sesión */
.login-button {
  background-color: #ED7A56;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}



/* Estilos de la imagen */
.image {
  width: auto; /* Ancho de la imagen */
  height: auto; /* Altura de la imagen */
  margin-bottom: 20px; /* Margen inferior */
}


/* Home */ 

/* ProductCard */
.product-card {
  background-color: #CBCBCB;
  border-radius: 30px;
  padding: 10px;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black; 
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  width: 80

}
.price {
  font-size: 16px;
  font-weight: bold;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 150px;
  gap: 20px; /* Espacio entre columnas */
}

.product-image {
  width: 100%; 
  height: 200px;
  object-fit: cover;
  overflow: hidden; 
  margin: auto; 
  border-radius: 30px;
}

.product-info {
  font-size: 18px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
  width: 80%;
}

.add-to-cart-btn {
  background-color: #ED7A56; 
  color: white; 
  border-radius: 15px;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  cursor: pointer;
}

/* Estilos para NavBarComp */
/* Estilos para NavBarComp */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; /* Ancho fijo o relativo */
  max-width: 20%; /* Ancho máximo del navbar */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #DFD8D6;
  color: black;
  padding: 20px;
  z-index: 1000; 
}



.profile-img {
  width: 150px; /* Ancho deseado */
  height: 150px; /* Altura deseada */
  border-radius: 50%; /* Hacer la imagen circular */
  object-fit: cover; /* Hacer que la imagen cubra el contenedor */
}


.buttons {
  font-size: 20px; /* Tamaño de fuente para los botones */
  display: flex;
  flex-direction: column; /* Alinear los botones verticalmente */
  align-items: flex-start; /* Alinear los botones a la izquierda */
}

.nav-btn,
.logout-btn {
  text-transform: uppercase; 
  background-color: transparent; 
  color: black; 
  padding: 30px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-btn {
  margin-bottom: 10px;
}

.logout-btn {
  margin-top: auto; 
}

.profile-container {
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 100%;
}


/* Estilos para el componente de búsqueda */
.search-input {
  padding: 8px 12px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde */
  border-radius: 4px; /* Borde redondeado */
  font-size: 16px; /* Tamaño de fuente */
  width: 200px; /* Ancho del input */
}

/* Opcional: Estilo cuando el input tiene el foco */
.search-input:focus {
  outline: none; /* Elimina el contorno */
  border-color: #007bff; /* Cambia el color del borde */
}
